<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Členové</title>
</head>
<body>

<h1>Členové SDH Bor</h1>

<h2>Vedení</h2>

<p>Starosta: {{ vedeni.starosta }}</p>
<p>Velitel: {{ vedeni.velitel }}</p>

</body>
</html>
