<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{{ nazev }}</title>
</head>
<body>

<h1>{{ nazev }}</h1>

<p>{{ obec }}</p>

<p>Založeno {{ rok_zalozeni }}</p>

<p>Počet členů {{ pocet_clenu }}</p>

<p>{{ uvodni_text }}</p>

</body>
</html>
